@import "assets/styles/colors";

.customerList {
    .inside {
        .list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            :global(.Card_card__uJ2JO) {
                width: calc(25% - 20px);
                box-sizing: border-box;
            }
        }
        .noResults {
            text-align: center;
        }
    }
}
